.container {
    font-family: Roboto,sans-serif;
    width: 600px;
    margin: 24px auto;
    background-color: white;
    box-shadow: 0 12px 50px -11px rgb(0, 0, 0,0.2);
    border-radius: 8px;
    color: black;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.top {
    background-color: rgb(4, 13, 109);
    color: #ffffff;
    padding: 32px;
}

.top h2 {
    margin-top: 0;
}

form {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.title {
    margin-bottom: 16px;
}

form input {
    font-size: 20px;
    padding: 8px 24px;
    width: 100%;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%;
    padding: 8px 32px; */
}

.left {
    width: 100%;
    padding: 8px 32px;
    text-align: center;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.value {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(30, 41, 66, 0.2);
}

.value::before {
    content: "Rs";
    font-size: 24px;
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.5;
}

.cal-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 24px 0px;

}

.cal-btn:hover {
    background-color: rgb(38, 38, 231);
    /* border: 1px solid rgb(224, 103, 47); */
}



@media (max-width:650px) {
    .container {
        width: 90%;
        max-width: 500px;
    }

    form {
        flex-direction: column;
        gap: 20px;
    }

    .result {
        flex-direction: column;
        text-align: center;
    }
}